<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="de.tum.in.jmoped.coveredmarker"
         name="Covered Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.tum.in.jmoped.CoverageLaunchShortcut"
            helpContextId="org.eclipse.jdt.junit.launch_shortcut"
            id="de.tum.in.jmoped.coverageShortcut"
            label="jMoped"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.java">
                        </test>
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.class">
                        </test>
                        <adapt
                              type="org.eclipse.jdt.core.IJavaElement">
                        </adapt>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspective>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            icon="icons/covered.png"
            id="de.tum.in.jmoped.coveredMarkerImageProvider"
            markertype="de.tum.in.jmoped.coveredmarker">
      </imageprovider>
      <imageprovider
            icon="icons/notcovered.png"
            id="de.tum.in.jmoped.notCoveredMarkerImageProvider"
            markertype="de.tum.in.jmoped.notcoveredmarker">
      </imageprovider>
      <imageprovider
            icon="icons/assertion.png"
            id="de.tum.in.jmoped.assertionFailedMarkerImageProvider"
            markertype="de.tum.in.jmoped.assertionfailedmarker">
      </imageprovider>
      <imageprovider
            icon="icons/selected.png"
            id="de.tum.in.jmoped.selectedMarkerImageProvider"
            markertype="de.tum.in.jmoped.selectedmarker">
      </imageprovider>
      <imageprovider
            icon="icons/npe.png"
            id="de.tum.in.jmoped.NpeMarkerImageProvider"
            markertype="de.tum.in.jmoped.npemarker">
      </imageprovider>
      <imageprovider
            icon="icons/ioob.png"
            id="de.tum.in.jmoped.IoobMarkerImageProvider"
            markertype="de.tum.in.jmoped.ioobmarker">
      </imageprovider>
      <imageprovider
            icon="icons/heapoverflow.png"
            id="de.tum.in.jmoped.NotEnoughHeapMarkerImageProvider"
            markertype="de.tum.in.jmoped.notenoughheapmarker">
      </imageprovider>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.tum.in.jmoped"
            class="de.tum.in.jmoped.ProgressView"
            icon="icons/covered.png"
            id="de.tum.in.jmoped.ProgressView"
            name="jMoped">
      </view>
      <category
            id="de.tum.in.jmoped"
            name="jMoped">
      </category>
   </extension>
   <extension
         id="de.tum.in.jmoped.notcoveredmarker"
         name="Not Covered Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="de.tum.in.jmoped.assertionfailedmarker"
         name="Assertion Failed Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="de.tum.in.jmoped.marker.CoveredMarkerResolutionGenerator"
            markerType="de.tum.in.jmoped.coveredmarker">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="de.tum.in.jmoped.marker.AssertionFailedMarkerResolutionGenerator"
            markerType="de.tum.in.jmoped.assertionfailedmarker">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="de.tum.in.jmoped.marker.NpeMarkerResolutionGenerator"
            markerType="de.tum.in.jmoped.npemarker">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="de.tum.in.jmoped.marker.IoobMarkerResolutionGenerator"
            markerType="de.tum.in.jmoped.ioobmarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         id="de.tum.in.jmoped.selectedmarker"
         name="Selected Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="de.tum.in.jmoped.npemarker"
         name="NPE Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="de.tum.in.jmoped.ioobmarker"
         name="Bound Violation Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="de.tum.in.jmoped.notenoughheapmarker"
         name="Not Enough Heap Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tum.in.jmoped.Preference"
            id="de.tum.in.jmoped.Preference"
            name="jMoped">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.tum.in.jmoped.Preference$Initializer">
      </initializer>
   </extension>

</plugin>
